
<div class="row">
  <div *ngFor="let album of albums" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-music-card
      [img]="album.imagen"
      [name]="album.name"
      [artists]="album.artists"
      (goArtist)="goArtistDetail($event)"></app-music-card>
  </div>
</div>
