<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" [routerLink]="mainUrl">
      <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      {{ title }}
  </a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let option of options" >
      <a class="nav-link" [routerLink]="option.url">{{ option.title }}</a>
    </li>
  </ul>
</nav>