<form [formGroup]="form" (ngSubmit)="search()" class="row mb-3">
  <div class="col-9">
    <input  formControlName="q"
            type="text"
            class="form-control form-control-sm"
            placeholder="Buscar">
  </div>
  <div class="col-3">
    <button type="submit" class="btn btn-sm btn-primary"
            [disabled]="form.invalid">Buscar</button>
  </div>
</form>

<div class="row pt-3">
  <div *ngFor="let artist of artists" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-music-card
      [routerLink]="['/spotify/detalle-artista', artist.id]"
      [name]="artist.name"
      [img]="artist.image"></app-music-card>
  </div>
</div>