<div class="row" *ngIf="artist">
  <div class="col-2">
    <img [src]="artist.image" class="img-thumbnail img-circle">
  </div>

  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
        <a [href]="artist.pageUrl" target="_blank">Ir a la página del artista</a>
    </p>
  </div>

  <div class="col-4 text-right">
    <a  class="btn btn-outline-danger">
      Regresar
    </a>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <table class="table">
      <tr>
          <th width="10%">Foto</th>
          <th width="35%">Album</th>
          <th width="35%">Canción</th>
          <th width="20%">Vista Previa</th>
      </tr>
      <tr *ngFor="let track of tracks">
        <td>
          <img [src]="track.album.imagen" class="img-thumb" height="50">
        </td>
        <td>{{ track.album.name }}</td>
        <td>{{ track.name }}</td>
        <td>
          <audio *ngIf="track.previewUrl" [src]="track.previewUrl" controls></audio>
          <!-- <iframe src="#trustUrl" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
        </td>
      </tr>
    </table>
  </div>
</div>
